/* Chat-specific styles */
.chatResults {
  scroll-behavior: smooth;
  background-color:azure;
}

.typingBarSettings {
  position: sticky;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.user-message{
  background-color: #000080;
  color: white;
}
.bot-message {
  background-color: #18dcdc;
  color: black;
}

.sendButton {
  background-color: #000080;
}

.inputSettings {
  transition: all 0.2s ease;
}

.sendButton {
  transition: background-color 0.2s ease;
}

.sendFont {
  font-size: 16px;
}